.container{
    display: flex;
    justify-content: space-between;
}

.button{
    width: 100px;
    border: none;
    padding: 12px;
    background-color: rgb(31, 113, 207);
    color: white;
    cursor: pointer;
    border-radius: 20px;
    text-align: center;
}